{% layout "layout.liquid" %}
{% block content %}
{% if games.length > 0 %}
        <div class="container-md">
            <h2>All games</h2>
            <div class="row">
                {% for game in games %}
                    <div class="card me-3 mb-3" style="width: 18rem;">
                        <h5 class="card-header">{{ game.title }}</h5>
                        <div class="card-body">
                            <h5 class="card-title text-info">
                                {% if game.readyToEat %}
                                    Ripe
                                {% else %}
                                    Not Ripe
                                {% endif %}
                            </h5>
                            <p class="card-text">The color of this {{game.name}} is {{game.color}}</p>
                            <div class="colorBox mb-2" style="background-color: {{game.color}};"></div>
                            <a href="/games/{{game.id}}" class="btn btn-info">View {{ game.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-md">
            <h2>No games yet... Go create some!</h2>
        </div>
    {% endif %}


{% endblock %}