{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <div class="row justify-content-left">
        <article class="col-sm">
            <h2>{{ game.title }}</h2>
            <div class="image text-center" style="background-image: url('{{ game.logo}}'); background-position: left!important;">
            </div>
            <h3>Saved to: {{ savedGame.userCollection }}</h3>
            <hr>
            {% if game.ratings.length > 0 %}
                <h3>steamee score: <span class="score">{{ game.avgRating }}</span>/5</h3><small>({{ game.ratings.length }} rating(s))</small>
            {% else %}
                <p><small>no ratings yet...</small></p>
            {% endif %}
            {% if savedGame.owner == userId %}
                {% if savedGame.hasPlayed %}
                    <h6>You have played this game in local coop before!</h6>
                {% else %}
                    <h6>You haven't played yet!</h6>
                {% endif %}
                <div class="btn-group">
                    <a href="/savedGames/{{ savedGame.id }}/edit" class="btn edit"></a>
                    <form action="/savedGames/{{ savedGame.id }}?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn delete" style="margin-left:0!important">
                    </form>
                </div>
        </article>
        <article class="col-sm">
                {% if game.comments.length > 0 %}
                    <h3>All Comments</h3>
                    <div class="container-sm justify-content-center"></div>
                    {% for comm in game.comments %}
                        {% render '../comment.liquid', comm: comm, userId: userId, game: game %}
                    {% endfor %}
                {% else %}
                    <small>no comments yet...</small>
                {% endif %}
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}