{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Steamee Recommendations</h2>
    <div class="row">
        {% for game in games %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ game.title }}</h5>
                <img src="{{ game.logo }}" alt="{{ game.title }} logo or image">
                {% if game.ratings.length > 0 %}
                    <h3>Average Steamee Rating: {{ game.avgRating }}</h3><small>({{ game.ratings.length}} rating(s))</small>
                {% else %}
                    <small>No Steamee Rating Yet!</small>
                {% endif %}
                <h3>{{ game.comments.length }} comments</h3>
                {% if loggedIn %}
                    {% if savedGames %}
                        {% for savedGame in savedGames %}
                            {% if savedGame.savedGameRef.id == game.id %}
                                <a href="/savedGames/{{ savedGame.id }}" class="btn btn-primary">View in {{savedGame.userCollection}}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                <a href="/savedGames/{{ game.id }}/new" class="btn btn-primary">Save Game</a>
                {% endif %}
                <div class="btn-group">
                <a href="/games/{{ game.id }}" class="btn btn-primary">View Game</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}