{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Games</h2>
    <div class="row">
        {% for storeGame in storeGames %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ storeGame.name }}</h5>
            <img src="{{ storeGame.logo }}" alt="{{ storeGame.name }} logo or image">
            <div class="card-body">
                <a href="/games/{{ storeGame.storeId }}/new" class="btn btn-info">
                    Recommend{{ storeGame.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}